<form ng-submit="waitlist.saveParty()" class="form-inline party-form" role="form">
  <div class="form-group">
    <input ng-model="waitlist.newParty.name" type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <input ng-model="waitlist.newParty.phone" type="text" class="form-control" placeholder="Phone">
  </div>
  <div class="form-group">
    <input ng-model="waitlist.newParty.size" type="text" class="form-control" placeholder="Size of party">
  </div>
  <button type="submit" class="btn btn-primary">Add party</button>
</form>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Done?</th>
    <th>Info</th>
    <th>Notified?</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tr ng-repeat="party in waitlist.parties">
    <td>
      <input ng-model="party.done" ng-change="waitlist.parties.$save(party)" type="checkbox">
    </td>
    <td>
      <div><strong>{{ party.name }} ({{ party.size }} people)</strong></div>
      <div>{{ party.phone }}</div>
      <div><!--TODO: Add date created.--></div>
    </td>
    <td>
      <div>{{ party.notified ? 'Yes' : 'No' }}</div>
    </td>
    <td>
      <button ng-click="waitlist.sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button>
      <button ng-click="waitlist.parties.$remove(party)" type="submit" class="btn btn-danger">Remove</button>
    </td>
  </tr>
</table>