<form ng-submit="waitlist.saveParty()" class="form-inline" role="form">
  <div class="form-group">
    <input ng-model="waitlist.party.name" type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <input ng-model="waitlist.party.phone" type="text" class="form-control" placeholder="Phone">
  </div>
  <div class="form-group">
    <input ng-model="waitlist.party.size" type="text" class="form-control" placeholder="Size of party">
  </div>
  <button type="submit" class="btn btn-primary">Add party</button>
</form>

{{ waitlist.party }}
<br>
{{ waitlist.parties }}