@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../css/fonts/codropsicons/codropsicons.eot');
	src:url('../css/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../css/fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../css/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'menuicons';
	src:url('../css/fonts/menuicons/icomoon.eot');
	src:url('../css/fonts/menuicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/menuicons/icomoon.woff') format('woff'),
		url('../css/fonts/menuicons/icomoon.ttf') format('truetype'),
		url('../css/fonts/menuicons/icomoon.svg#menuicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #fff;
	background: #2f3238;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #B24E51;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #afb3b8;
	outline: none;
}


.content {
	min-height: 250px;
	margin: 0 auto;
	padding-bottom: 2em;
}

.content--tiny {
	max-width: 800px;
}

.container {
	text-align: center;
	padding: 5.25em 0.5em 0;
}

/* Header */
.codrops-header {
	padding: 0;
	letter-spacing: -1px;
}

.codrops-header h1 {
	font-weight: 800;
	font-size: 3.5em;
	line-height: 1;
	margin: 0;
}

.codrops-header h1 span {
	display: block;
	font-size: 65%;
	letter-spacing: 1px;
	padding-top: 0.75em;
	color: #afb3b8;
}

/* To Navigation Style */
.codrops-links {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.25em;
}

.codrops-links a {
	display: inline-block;
	padding: 0.5em 0;
	margin: 0.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
	margin: 3em auto;
	max-width: 700px;
}

.codrops-demos a {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.25em 0;
	margin: 5px 10px;
	display: inline-block;
	font-size: 0.85em;
}

.codrops-demos a.current-demo {
	opacity: 0.5;
}

.el1 {
	background: rgb(85,12,37);
	width: 300px;
	height: 300px;
	margin-right: 3em;
	float: left;
	margin-bottom: 3em;
	

}

.el2 {
	background: rgb(85,12,37);
	width: 300px;
	height: 300px;
	float: left;
	
	
}

.el3 {
	background: rgb(117,12,37);
	width: 300px;
	height: 300px;
	float: left;
	clear: left;
}

.el4 {
	
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 3em;
}


/* Related demos */
.related {
	text-align: center;
	padding: 10em 0;
	clear: both;
	font-weight: bold;
}

.gallery.related {
	text-align: center;
	padding: 1em 0;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
}

.related > a {
	width: 200px;
	display: inline-block;
	text-align: center;
	margin: 1em;
	font-size: 0.8em;
	vertical-align: top;
}


.related a img {
	max-width: 100%;
	opacity: 0.8;
	margin-right: 1em;
	border: 1px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-size: ;
	padding: 0.5em 0 0.3em;
	max-width: 200px;
	text-align: left;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

div.wrapper {
	
	margin: 1em auto;
	
	
}

.container.clearfix {
	margin: 0 auto;
	padding: 1em 0.5em 0;
	 
}

.wrapper img {
	
}

@media screen and (max-width: 30em) {
	.codrops-header h1 {
		font-size: 3em;
	}
}

body #cdawrap {
	background: transparent;
	top: 15px;
}

body.theme-2 #cdawrap a,
body.theme-9 #cdawrap a {
	color: #ddd !important;
}
